<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <title>Registration</title>
    </head>
<body>
    <h3>Registration</h3>
    <form  method='POST' novalidate>
     {% csrf_token %}
     {{form.as_p}}
     <input type = 'submit' value="submit">
    </form>
   
</body>
</html>